<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>brainHealthDx - About Us</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  </head>

  <body>

    <!-- This is the navigation bar at the top of the page -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">brain<span style="color: orange">Health</span>Dx</a>
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle" href="/" id="dropdown_test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Test</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_test">
                <a class="dropdown-item" href="/how.html">How it works</a>
                <a class="dropdown-item" href="/take.html">Take our test</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle" href="/" id="dropdown_science" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Science</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_science">
                <a class="dropdown-item" href="/dementia.html">What is Dementia</a>
                <a class="dropdown-item" href="/data.html">The Data</a>
                <a class="dropdown-item" href="/model.html">Creating our Test</a>
                <a class="dropdown-item" href="/factors.html">Contributing Factors</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privacy.html">Privacy</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about_us.html">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">About Us</h1>
          <p class="lead text-muted">Meet the people behind brainHealthDx.</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/Amy.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Amy Lai</h4>
                  <p class="card-text">Amy is taking her final UC Berkeley MIDS class. She hopes combine her passions for healthcare and data science to help people live healthy lives.</p>
                  <h4><img src="https://www.ischool.berkeley.edu/sites/all/themes/custom/i_school/images/logos/berkeleyischool-logo-blue.svg" height=30></h4>
                  <h6><a href="amy.xm.lai@ischool.berkeley.edu">amy.xm.lai@ischool.berkeley.edu</a></h6>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/Leslie.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Leslie Teo</h4>
                  <p class="card-text">Leslie is also taking his final MIDS class. He seeks to use data, computational tools, and algorithms to solve challenging business and social problems. </p>
                  <h4><img src="https://www.ischool.berkeley.edu/sites/all/themes/custom/i_school/images/logos/berkeleyischool-logo-blue.svg" height=30></h4>
                  <h6><a href="lteo@ischool.berkeley.edu">lteo@ischool.berkeley.edu</a></h6>
                </div>
              </div>
            </div>

           <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top img-fluid" src="{{ url_for('static', filename='images/Richard.png') }}" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Richard Hitchens</h4>
                  <p class="card-text">Richard is also taking his final MIDS class. He is looking forward to spending more time with his family and not studying again for a long time.</p>
                  <h4><img src="https://www.ischool.berkeley.edu/sites/all/themes/custom/i_school/images/logos/berkeleyischool-logo-blue.svg" height=30></h4>
                  <h6><a href="richard.hitchens@ischool.berkeley.edu">richard.hitchens@ischool.berkeley.edu</a></h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; brainHealthDx 2018</p>
       </div>
    </footer>

    <!-- Bootstrap core JavaScript
      Note: This is loaded locally, but could be connected via URL
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!--<script src="{{ url_for('static', filename='../../assets/js/vendor/holder.min.js')}}"></script>-->


  </body>
</html>
