<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>brainHealthDx - Contributing Factors</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  </head>

  <body>

    <!-- This is the navigation bar at the top of the page -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">brain<span style="color: orange">Health</span>Dx</a>
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle" href="/" id="dropdown_test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Test</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_test">
                <a class="dropdown-item" href="/how.html">How it works</a>
                <a class="dropdown-item" href="/take.html">Take our test</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-item nav-link dropdown-toggle" href="/" id="dropdown_science" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Science</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_science">
                <a class="dropdown-item" href="/dementia.html">What is Dementia</a>
                <a class="dropdown-item" href="/data.html">The Data</a>
                <a class="dropdown-item" href="/model.html">Creating our Test</a>
                <a class="dropdown-item active" href="/factors.html">Contributing Factors</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privacy.html">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us.html">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container"><h1>Contributing Factors</h1>
          <p class="lead text-muted">Many different factors contribute to increased dementia risk</p>
        </div>
      </section>

      <section class="starter-template bg-light">
        <div class="container">

          <h3>The Science of Dementia</h3>
          <p class="lead">There’s a significant amount of medical research about factors that can affect your brain health. To strongly ground our test in science, we extensively reviewed this research. With our sophisticated data-driven methods, these medical findings have helped inform us about what factors to consider, and hence what questions to ask you in our test.</p>

          <p class="lead">Below are some factors that affect your risk of dementia. For each factor, we briefly summarize key research findings about how it contributes to dementia risk. And for those with a particular interest in a given contributing factor, we also provide a link to more detailed information about the particular research finding.</p>

          <h4>Age</h4>
          <p class="lead">Many studies have shown that cognitive ability typically declines with age and that overall cognitive ability is linked with the potential onset of dementia. Accordingly, your age is one the strongest predictors of your risk of potential dementia onset.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3385995/">Age and Dementia Risk</a></h6><br></p>

          <h4>Marital Status</h4>
          <p class="lead">Closely related to loneliness more broadly, martial status is an indicator or dementia risk. In particular, single people have a greater chance of dementia.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4716184/">Marital Status and Dementia Risk</a></h6><br></p>

          <h4>Educational Level</h4>
          <p class="lead">Higher levels of education attained by an individual are associated with higher cognitive functioning. While higher cognitive base may provide a degree of protection from the time of dementia onset, studies show that higher education does not affect the rate of decline in cognitive functioning or the eventual risk of dementia.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pubmed/18484674">Educational Level and Dementia Risk</a></h6><br></p>

          <h4>Heart Attack History</h4>
          <p class="lead">People who have previously had a heart attack are more than twice as likely to develop dementia, whether it's Alzheimer’s or another type.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pubmed/22882000">Heart Attack History and Dementia Risk</a></h6><br></p>

          <h4>High Blood Pressure</h4>
          <p class="lead">High blood pressure, especially in midlife, increases your dementia risk. It is important to control your blood pressure because it has been shown that people who have treated their high blood pressure have decreased dementia risk.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2919699/">High Blood Pressure and Dementia Risk</a></h6><br></p>

          <h4>Alcohol</h4>
          <p class="lead">Mild drinking (one to three drinks per week) has been found to provide protection against dementia, while no or excessive consumption increases the risk of cognitive decline and dementia.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3580328/">Alcohol and Dementia Risk</a></h6><br></p>

          <h4>Body Weight</h4>
          <p class="lead">Maintaining optimal body weight may be especially important to reduce risk of cognitive decline. Xiang and An show that being underweight, defined as having a body mass index less than 18.5, is a robust risk factor for onset of cognitive impairment in later life. While obesity also increases your odds, especially for women, the Fortanasce-Barton Neurology Center found that women may be three times as likely to develop Alzheimer’s as their thinner peers and obese men increase their risk by about 30 percent.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pubmed/25747849">Body Weight and Dementia Risk</a></h6><br></p>

          <h4>Exercise</h4>
          <p class="lead">People who engage in regular vigorous physical activity have reduced dementia risk.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pubmed/22747314">Exercise and Dementia Risk</a></h6><br></p>

          <h4>Neuropsychiatric Symptoms</h4>
          <p class="lead">Depression, anxiety, agitation, elation and delusions are prevalent among those with cognitive impairment.  The percentage of those with three or more symptoms increases sharply going from mild to moderate dementia (from 15.2% to 44.3%) but then decreases slightly with severe dementia (38.2%). Some research suggests that neuropsychiatric symptoms may actually precede dementia. Interestingly, unlike treatment of high blood pressure being a mitigating dementia risk factor, a study of HRS participants for six years shows that the use of antidepressants does not make any difference in cognitive changes.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pubmed/20374406"> Neuropsychiatric Symptoms and Dementia Risk</a></h6><br></p>

          <h4>Vision</h4>
          <p class="lead">Those diagnosed with dementia, especially AD, have poorer vision at baseline and have received fewer eye services prior to their diagnosis than those who do not experience serious cognitive decline. Uncorrected poor vision is a very significant risk factor for dementia.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2842219/">Vision and Dementia Risk</a></h6><br></p>

          <h4>Diet</h4>
          <p class="lead">Diets low in vegetables may speed cognitive decline. One reason for this involves homocysteine, an amino acid in blood plasma. Higher levels seem to increase your risk of Alzheimer’s, among other deadly diseases. You need folate and other B vitamins to properly break down homocysteine. While all types of vegetables will help, kale, squash, eggplant, collard greens and blueberries as cognitive superstars. Certain spices, notably cinnamon and turmeric, may also have a dramatic effect. There is clear evidence that people in India, at least from epidemiological data, have less Alzheimer’s, which may in part be due to their diet being higher in turmeric.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4849169/">Diet and Dementia Risk</a></h6><br></p>

          <h4>Gait Changes</h4>
          <p class="lead">Five different studies presented at the 2012 Alzheimer’s Association International Conference tied gait change to the disease. A deteriorating gait and the inability to simultaneously walk and talk may indicate the onset of dementia. Walking while talking is a divided attention task which becomes more difficult as dementia takes hold.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4849169/">Gait Changes and Dementia Risk</a></h6><br></p>

          <h4>Poor Navigation</h4>
          <p class="lead">Since Alzheimer’s starts in the hippocampus, often called the brain’s seat of memory, disorientation is a hallmark of the disease. As such navigational problems might arise very early in the course of cognitive decline. Therefore people with comparatively poor ability to navigate and those who are navigationally challenged may face faster cognitive decline.<br><h6>Link to further research: <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4849169/">Poor Navigation and Dementia Risk</a></h6><br></p>

        </div>
      </section>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; brainHealthDx 2018</p>
       </div>
    </footer>

    <!-- Bootstrap core JavaScript
      Note: This is loaded locally, but could be connected via URL
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

  </body>
</html>
