<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>brainHealthDx - Creating our Test</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  </head>

  <body>

    <!-- This is the navigation bar at the top of the page -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">brain<span style="color: orange">Health</span>Dx</a>
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-item nav-link dropdown-toggle" href="/" id="dropdown_test" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Test</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_test">
                <a class="dropdown-item" href="/how.html">How it works</a>
                <a class="dropdown-item" href="/take.html">Take our test</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-item nav-link dropdown-toggle" href="/" id="dropdown_science" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Science</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_science">
                <a class="dropdown-item" href="/dementia.html">What is Dementia</a>
                <a class="dropdown-item" href="/data.html">The Data</a>
                <a class="dropdown-item active" href="/model.html">Creating our Test</a>
                <a class="dropdown-item" href="/factors.html">Contributing Factors</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privacy.html">Privacy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about_us.html">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container"><h1>Creating our Test</h1>
          <p class="lead text-muted">Bringing together data and science to predict dementia risk</p>
        </div>
      </section>

      <section class="starter-template bg-light">
        <div class="container">

          <p class="lead">Our test integrates advanced <span class="mybold">data science</span> methods and rigorous <span class="mybold">scientific research</span> to give you high-quality information about your brain health. As a brief overview, the stages involved to create the test includes:<br><br></p>

          <h4>Science Review</h4>
          <p class="lead">To make sure our test is firmly rooted in science, we did a comprehensive review of current research about brain health to identify important factors that can affect the risk of dementia. For information about these factors, please visit <a href="factors.html">The Science/Contributing Factors</a>.<br><br></p>

          <h4>Science and Data</h4>
          <p class="lead">Using high-quality data from the <a href="http://hrsonline.isr.umich.edu">Health and Retirement Survey</a> (HRS), we then combined information from our science review with a variety of advanced machine learning tools to identify the best set of questions that gave the most accurate brain health assessments based on medical diagnoses of dementia risk.<br><br></p>        

          <h4>Question Selection</h4>
          <p class="lead">Finally, from the best set of questions, the most important ones were selected to create our test.<br><br></p>

          <h4>More Information</h4>
          <p class="lead">This is a brief summary of how we combined data and science to develop our test. For a more technical and in-depth discussion please visit <a href="https://yellow-fox-tp65.squarespace.com/?r=62190666">More Information</a>.<br><br></p>


        </div>
      </section>
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; brainHealthDx 2018</p>
       </div>
    </footer>

    <!-- Bootstrap core JavaScript
      Note: This is loaded locally, but could be connected via URL
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

  </body>
</html>
